root = true

# C++ 源代码和头文件
[*.{h,cpp}]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# Markdown 文档
[*.md]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# JSON 配置文件
[*.json]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true

# CMake 文件
[CMakeLists.txt]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2

# Tiled map assets
[*.{tmx,tsx,tiled-session}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
