# 让 Git 自动处理文本文件
* text=auto

# 强制这些文件永远使用 LF (不管在 Windows 还是 Mac)
*.c     text eol=lf
*.cpp   text eol=lf
*.h     text eol=lf
*.py    text eol=lf
*.mk    text eol=lf
*.sh    text eol=lf
*.cmake          text eol=lf
CMakeLists.txt   text eol=lf
*.md             text eol=lf
*.json           text eol=lf
*.tmx            text eol=lf
*.tsx            text eol=lf
*.tiled-session  text eol=lf

# Windows scripts
*.bat            text eol=crlf
*.cmd            text eol=crlf
